<!DOCTYPE html>
<html>
    <head>
        <title>KM Catalog Home</title>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../../css/styles.css"/>
    </head>
    <body>
		<header>
			<h1 data-th-inline="text"><img th:src="@{/images/logo.jpg}" alt=""/>Knowledge Management System</h1>
		</header>
		<section id="nav">
			<nav>
				<ul>
					<li><a th:href="@{/kmcatalogentries}">Home</a></li>

				</ul>
			</nav>
		</section>
		
    </body>
</html>