<!DOCTYPE html>
<html>
    <head>
        <title>KM Catalog Home</title>
		<meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" href="../../css/styles.css"/>
    </head>
    <body>
		<header>
			<h1 data-th-inline="text"><img th:src="@{/images/logo.jpg}" alt=""/>Knowledge Management System</h1>
		</header>
		<section id="nav">
			<nav>
				<ul>
					<li><a th:href="@{/kmcatalogentries}">Home</a></li>
                    <li><a th:href="@{/documentcategories}">Document Categories</a></li>
				</ul>
			</nav>
		</section>
		<section class="content">
			<div>
				<table id="catalog">
					<tr>
						<th>ID</th>
						<th>Title</th>
						<th>Owner</th>
						<th>Audience</th>
						<th>Category</th>
						<th>Community</th>
						<th>Filename</th>
					</tr>                
					<tr data-th-each="entry : ${kmcatalogentries}">
						<td data-th-text="${entry.id}"></td>
						<td data-th-text="${entry.documentTitle}"></td>
						<td data-th-text="${entry.knowledgeOwner}"></td>
						<td data-th-text="${entry.audience}"></td>
						<td data-th-text="${entry.documentCategory}"></td>
						<td data-th-text="${entry.community}"></td>
						<td data-th-text="${entry.documentFilename}"></td>
					</tr>
				</table>
			</div>
			<hr />
			
			<hr />
			<div id="submitEntry">
				<form data-th-action="@{/logout}" method="post">
						<input class="button" type="submit" value="Sign Out"/>
				</form>
			</div>
        </section>     
    </body>
</html>