<!DOCTYPE html>
<html>
    <head>
        <title>User Home</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s KM Catalog!</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Owner</th>
					<th>Audience</th>
                    <th>Category</th>
                    <th>Community</th>
					<th>Filename</th>
                </tr>                
                <tr data-th-each="entry : ${kmcatalogentries}">
                    <td data-th-text="${entry.id}"></td>
                    <td data-th-text="${entry.documentTitle}"></td>
                    <td data-th-text="${entry.knowledgeOwner}"></td>
					<td data-th-text="${entry.audience}"></td>
                    <td data-th-text="${entry.documentCategory}"></td>
                    <td data-th-text="${entry.community}"></td>
					<td data-th-text="${entry.documentFilename}"></td>
                </tr>
            </table>
        </div>
        
		<hr />
        Add Entry to KM Catalog<br />
        <form data-th-action="@{/kmcatalogentries/add}" name="addKMCatalogEntryForm" method="post">
            Title: <input type="text" name="title" /><br />
			Knowledge Owner: <input type="text" name="owner" /><br />
			Audience: <input type="text" name="audience" /><br />
            Document Category:<br />
			<input type="radio" name="documentCategory" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="documentCategory" value="Best_Practice" /> Best Practice<br />
            <input type="radio" name="documentCategory" value="Design" /> Design<br />
            <input type="radio" name="documentCategory" value="Lessons_Learned" /> Lessons Learned<br />
            <input type="radio" name="documentCategory" value="Procedure" /> Procedure<br />
			<input type="radio" name="documentCategory" value="Reference" /> Reference<br />
            <input type="radio" name="documentCategory" value="Requirements" /> Requirements<br />
            <input type="radio" name="documentCategory" value="Standard" /> Standard<br />
            <input type="radio" name="documentCategory" value="Template" /> Template<br />
            <input type="radio" name="documentCategory" value="Training" /> Training<br />
			<input type="radio" name="documentCategory" value="User_Documentation" /> User Documentation<br />	
			Community:<br />
			<input type="radio" name="documentCategory" value="Everyone" checked="checked" /> Everyone<br />
            <input type="radio" name="documentCategory" value="Chemical_Engineers" /> Chemical Engineers<br />
            <input type="radio" name="documentCategory" value="Electrical_Engineers" /> Electrical Engineers<br />
            <input type="radio" name="documentCategory" value="Mechanical_Engineers" /> Mechanical Engineers<br />
            <input type="radio" name="documentCategory" value="System_Administration" /> System Administration<br />
			<input type="radio" name="documentCategory" value="Developers" /> Developers<br />
            <input type="submit" value="Add Catalog Entry"/>
        </form>
        
        <hr />       
		      
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>