<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>
    <body> 
		<header>
            <h1><img th:src="@{../images/logo2.jpg" alt="head with knowledge" />iKnowledge</h1> 
        </header>	
        <div data-th-if="${param.error}">
            Invalid username and password.
        </div>
        <div data-th-if="${param.logout}">
            You have been logged out.
        </div>
		<section class="content">
			<form data-th-action="@{/login}" method="post">
				<div><label>Sign in to your Account</label></div>
				<div><img th:src="@{/images/login.jpg}" alt="login man with key and lock" /></div>
				<div><label> User Name: <input type="text" name="username"/> </label></div>
				<div><label> Password: <input type="password" name="password"/> </label></div>
				<div><input type="submit" value="Sign In"/></div>
			</form>
		</section>
    </body>
</html>